body
{
    background-color:rgb(9, 54, 65);
    margin: 0px;
    font-family:'Times New Roman';
}
h1
{
    color:white;
    font-family:'Times New Roman';
    text-align:center;
}
form
{
    padding:50px;
    background-color:slategray
}
label
{
    color:white;
}